// vendors
$vendors = webkit moz o ms


// placeholder prefixes
$placeholder = '&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder'

// fonts
$RubikR = 'Rubik', sans-serif
$RubikM = 'Rubik Medium', sans-serif


$linkSize = 54px

$animationStep = 0.3s
$animationSize = $linkSize
//$bounce = cubic-bezier(0.68, -0.55, 0.265, 1.55)
$bounce = cubic-bezier(0.740, -0.600, 0.270, 1.650)

$color = {
  text: #404142,
  subText: #b0b0b1,
  bg: #fff,
  subBg: #e5f5f8,
  linkBg: #bce6f0,
  linkBgDarken: #052229,
  main: #18abce,
  msgBg: #f4f5f6,
  msgBgMy: #d1eef5,
  msgBgFile: #cef4db
  msgColorFile: #3c905b
}
